<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Where to watch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" align="center">
    <table class="table">
        <h2 th:text="'Gdzie obejrzeć film: ' + ${name}"></h2>
        <thead>
        <td><h5>Kino</h5></td>
        <td><h5>Godzina</h5></td>
        <td><h5>Wolne miejsca</h5></td>
        <td><h5>Zarezerwuj</h5></td>
        </thead>
        <tbody>
        <tr align="center" th:if="${#lists.isEmpty(screenings)}">
            <td colspan="4" style="font-weight: bold"> Film nie jest wyświetlany w żadnym kinie :( </td>
            <tr/>
        <tr th:each="screening : ${screenings}">
            <td th:text="${screening.cinema.name}"></td>
            <td th:text="${screening.startTime}"></td>
            <td th:text="${screening.seatsFree}"></td>
            <td>Wkrótce</td>
        </tr>
        </tbody>
    </table>
    <div align="center">
        <form class="form-horizontal" th:action="@{/movies}" th:method="get">
            <input type="submit" value="Lista filmów" />
        </form>
    </div>
</div>
</body>
</html>